{% extends 'admin_base.html' %}
{% block main %}
  <main id="main" class="main">

    <div class="span12" style="border: 1px solid orange" > 


    <div class="pagetitle"><h1>Donation Received But Not Delivered Yet</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Admin</a></li>
          <li class="breadcrumb-item active">Donation Management</li>
          <li class="breadcrumb-item active">Donation Received</li>

        </ol>
      </nav>
    </div>  


  <div class="card shadow">
    <div class="card-body">

<div class="container-fluid">

        <table class="table table-bordered table-sm" id="example">
            <thead>
                <tr>
                    <th>SI. No.</th>
                    <th>Donation Name</th>
                    <th>Donation Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in donation %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.donationname}}</td>
                    <td>{{i.donationdate}}</td>
                        <td>{{i.status}}</td>
                    <td><a href="{% url 'view_donationdetail' i.id %}" class="text-primary">View Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
</div>
</div>

{% endblock %}