{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
  <title>Share Hope</title>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;900&display=swap" rel="stylesheet">
  <!-- bootstrap-icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.min.css' %}">
</head>

<body data-bs-spy="scroll" data-bs-target="#main_menu">
  <div id="home"></div>
  <nav id="main_menu" class="navbar navbar-expand-md navbar-light sticky-top py-4">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img class="resize" src="{% static 'images/logo.png' %}" alt=""></a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mainnav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="mainnav" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li><a class="nav-link" href="{% url 'index' %}">Home</a></li>
          <li><a class="nav-link" href="{% url 'aboutus' %}">About Us</a></li>
          <li><a class="nav-link" href="{% url 'gallery' %}">Gallery</a></li>
          <li><a class="nav-link" href="signup.html">Donate</a></li>
          <li><a class="nav-link" href="#footer">Contact Us</a></li>
          <!-- <li><a class="nav-link" href="login.html">Login</a></li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'admin_login' %}">Admin</a></li>
              <li><a class="dropdown-item" href="{% url 'donorlogin' %}">Donor</a></li>
              <li><a class="dropdown-item" href="{% url 'volunteer_login' %}">Volunteer</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>

 

  <section id="about" class="pb-5 pt-4">
    <div class="container">
      <div class="row">  
        <div class="col-md-12 align-self-center about-text">
          <h2 class="title-md text-center">How to Help</h2>
          <p><b>Step 1: Register and login as donor or volunteer</b></p>
          <p>After that you will be taken to your dashboard</p>

          <p><b>Step 2: Determine whether or not the items you wish to donate are useful.</b></p>
          <p>
            Make sure what you’re donating to someone is relevant to them. If you think that the items you 
            wish to donate may be of use to someone else then fill up the donation form and submit the form 
            and with for the approval from the managing head.
          </p>

          <p><b>Step 3: View your progress of your donated item in your dashboard</b></p>
          <p>
            In order to avoid transportation costs that can lower the impact of your donation, volunteer will safely deliver your items to the destination.
          </p>

        </div>

        <div class="col-md-12 align-self-center about-text">
          <h2 class="title-md text-center">Watch video tutorial</h2>
        </div>

        <div class="text-center">
          <iframe width="600" height="400" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
          </iframe>
        </div>
        
      </div>
      


    </div>
  </section>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/637b383fb0d6371309d02f59/1gicl7e5d';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
 

  <footer id="footer" class="pt-5 pb-2">
    <div class="container">
      <div class="row gx-5">
        <div class="col-md-4">
          <h3>Contact Us</h3>
          <ul class="list-unstyled">
            <li class="mb-2"><i class="bi bi-envelope"></i> sharehope@gmail.com</li>
            <li class="mb-2"><i class="bi bi-telephone"></i> +975 17407445</li>
            <li class="mb-2"><i class="bi bi-geo-alt"></i> Goensho Tshamkhang, Thimphu</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>My Account</h3>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="{% url 'donorlogin' %}">Donor</a></li>
            <li class="mb-2"><a href="{% url 'volunteer_login' %}">Volunteer</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Get to know more about us</h3>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-twitter"></i></a>

        </div>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="copy">Copyright © 2022 Share Hope. All Rights Reserved.</p>
        </div>
      </div>
      <p class="top"><a href="#home"><i class="bi bi-arrow-up-square-fill"></i></a></p>
    </div>
  </footer>


  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>